@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-default: oklch(
    0.65 0.1687 148.53
  ); /* "#29A94F", Основний акцент */
  --color-brand-dark: oklch(
    0.35 0.015 264.36
  ); /* "#363A42", Темний брендовий */
  --color-brand-menu: oklch(0.85 0.0669 154.19); /* "#ADDCBB", Панель меню */

  --color-ui-screen: oklch(96.67% 0.002 247.84); /*"#F3F4F5" Фон екрана  */
  --color-ui-sidebar: oklch(1 0 0); /* #ffffff  Бічна панель*/
  --color-ui-row-even: oklch(96.72% 0 0); /* "#F4F4F4", Фон строка */
  --color-ui-row-odd: oklch(1 0 0); /* #ffffff Фон строка */
  --color-ui-row-hover: oklch(
    0.6429 0.0121 243.75 / 10%
  ); /*# e2e3e6 ховер строки */
  --color-ui-border: oklch(90.67% 0 0); /* "#E0E0E0", Обведення та лінії */
  --color-ui-column: oklch(
    87.7% 0.003 145.55
  ); /* "#D5D7D5", Найменування колонок */

  --color-accent-yellow: oklch(0.94 0.0418 87.36); /* "#F7EACC" */
  --color-accent-peach: oklch(0.72 0.1429 82.35); /* #d19b1a*/

  --color-accent-lavender: oklch(0.91 0.0327 235.2); /* "#CFE7F6" */
  --color-accent-blue: oklch(0.6 0.1527 245.93); /* "#0686D5" */

  --color-accent-lightgreen: oklch(0.93 0.0493 145.16); /* "#D3F0D3" */
  --color-accent-green: oklch(0.65 0.1687 148.53); /* #29A94F */

  --color-accent-grey: oklch(0.85 0 0); /* #cecece */

  --color-accent-pink: oklch(0.91 0.0311 15.28); /* "#F6DADB" */
  --color-accent-red: oklch(0.71 0.1694 20.27); /* "#F86E73" */

  --color-accent-olive: oklch(0.61 0.1429 120.48); /* #79900d */
  --color-accent-lime: oklch(0.92 0.0874 116.4); /* #e2eeab */

  --color-text-muted: oklch(49% 0.001 17.2); /* "#616060", Вторинний текст */
  --color-text-light: oklch(64.57% 0.004 247.88); /* "#8C8E90", Світлий текст */
  --color-text-regular: oklch(0 0 0); /* #000000 */

  --color-action-plus: oklch(0.48 0.1933 276.36); /* "#4848C8", Плюсові дії */
  --color-action-minus: oklch(0.59 0.2294 25.07); /* "#E5172B", Мінусові дії */
  --color-action-alert: oklch(
    53.83% 0.216 28.72
  ); /* "#CE0D0D", Сповіщення системи */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --font-inter-sans: "Inter", sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --color-brand-menu: oklch(0.8354 0.1398 151.85); /* "#7DE39B", Панель меню */
  --color-brand-dark: oklch(0.29 0.0023 67.73); /* #2b2a29*/
  --color-brand-default: oklch(
    0.65 0.1687 148.53
  ); /* "#29A94F", Основний акцент */

  --color-ui-sidebar: oklch(0.19 0.0088 264.34); /* #111317  Бічна панель*/
  --color-ui-screen: oklch(0.22 0.0187 266.14); /* #171b24 Фон екрана  */
  --color-ui-row-even: oklch(0.19 0.0088 264.34); /* #111317 */
  --color-ui-row-odd: oklch(0.23 0.0041 264.49); /* #1d1e20 */
  --color-ui-row-hover: oklch(31.75% 0.011 271.05); /* #303238 ховер строки */
  --color-ui-column: oklch(0.33 0.0106 278.26); /*#33343a*/
  --color-ui-border: oklch(0.36 0.0034 286.23); /* #3e3e40 */

  --color-accent-yellow: oklch(0.92 0.0878 87.29); /* "#ffe3a2" */
  --color-accent-peach: oklch(0.53 0.0753 87.75); /* #7f6a36 */

  --color-accent-lavender: oklch(0.84 0.0702 235.72); /*#9ed2f2*/
  --color-accent-blue: oklch(0.6 0.1527 245.93); /*  #0686d5   */

  --color-accent-lightgreen: oklch(0.84 0.1398 151.85); /* #7de39b */
  --color-accent-green: oklch(0.5269 0.1323 149); /* #217f3d */

  --color-accent-grey: oklch(0.68 0 0); /* #999999 */

  --color-accent-pink: oklch(0.85 0.085169 16.3016); /* #ffb6b9 */
  --color-accent-red: oklch(0.66 0.1894 22.11); /* #f0565b */

  --color-accent-olive: oklch(0.61 0.1429 120.48); /* #79900d */
  --color-accent-lime: oklch(0.92 0.0874 116.4); /* #e2eeab */

  --color-text-light: oklch(0.58 0.0084 260.73); /* #787b80 */
  --color-text-muted: oklch(0.54 0.0067 264.51); /* #6c6e72*/
  --color-text-regular: oklch(0.97 0.0021 17.2); /* #f5f3f3 */

  --color-action-plus: oklch(0.48 0.1933 276.36); /* "#4848C8", Плюсові дії */
  --color-action-minus: oklch(0.59 0.2294 25.07); /* "#E5172B", Мінусові дії */
  --color-action-alert: oklch(53.83% 0.216 28.72); /* "#CE0D0D */

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-inter-sans);
  }
}

@layer utilities {
  .scroll-on-hover {
    @apply overflow-auto;
    scrollbar-width: thin;
  }

  .scroll-on-hover::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .scroll-on-hover:hover::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scroll-on-hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }
}
